WHATSAPP_ENABLED=false
EVOLUTION_URL=http://evolution-api:8080
EVOLUTION_API_KEY=
EVOLUTION_INSTANCE=volei
WHATSAPP_GROUP_JID=
# ISO com fuso; somente partidas finalizadas a partir desse instante serão notificadas.
WHATSAPP_START_AT=
APP_PUBLIC_URL=https://volei.anyco.com.br
